<title>{% if page.info %}{{ site.title | prepend: " | " | prepend: page.info }}{% else %}{{ site.title }}{% endif %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cache-control" content="private">
<meta http-equiv="cache-control" content="max-age=3600">
<meta http-equiv="cache-control" content="must-revalidate">
<meta name="description" content="{{ site.description }}">
<meta name="robots" content="index, nofollow">
<meta name="robots" content="noimageindex, noarchive">
<meta name="author" content="{{ site.author }}">
<meta name="copyright" content="{{ site.copyright }}">
<meta name="keywords" content="">
<link rel="canonical" href="{{ site.baseurl }}" />
{% for css in site.header_includes.css %}
<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% for js in site.header_includes.javascript %}
<script src="{{ js }}"></script>
{% endfor %}
