@mixin animation-pulse($duration, $parameter, $from, $to) {
  animation-name: pulse-#{$parameter};
  animation-duration: $duration;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @at-root (without: all) {
    @keyframes pulse-#{$parameter} {
      from {
        #{$parameter}: #{$from};
      }

      to {
        #{$parameter}: #{$to};
      }
    }
  }
}