html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing : antialiased;
  overflow-x             : hidden;
  overflow-y             : scroll;
  text-rendering         : optimizeLegibility;
  text-size-adjust       : 100%;
}

* {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
main,
ol,
p,
pre,
textarea,
ul {
  margin : 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
