@import "mixins";

.carousel {
  height       : 100%;
  border-radius: 10px;
  overflow     : hidden;
}

//
$header-h: 2em;
//
$small-size: 120px;
$small-w: 3 * $small-size;
$small-h: 2 * $small-size;
$medium-size: 180px;
$medium-w: 3 * $medium-size;
$medium-h: 2 * $medium-size;
$large-size: 240px;
$large-w: 3 * $large-size;
$large-h: 2 * $large-size;
//

.carousel-item {
  display     : block;
  // align-items    : center;
  // justify-content: space-between;
  @include small {
    height: $small-h;
  }
  @include medium {
    height: $medium-h;
  }
  @include large {
    height: $large-h;
  }

  object-fit  : contain;
  margin-right: 10px;
  top         : 50%;
  transform   : translateY(-50%);
}

//
// html {
//   @include debug;
// }
//
// section.test {
//   display        : grid;
//   grid-row-gap   : 1em;
//   grid-column-gap: 1em;
//   @include small {
//     grid-template-columns: $small-w auto;
//     grid-template-rows   : $header-h $small-h auto auto;
//   }
//   @include medium {
//     grid-template-columns: $medium-w 1fr;
//     grid-template-rows   : $header-h $medium-h 1fr 1fr;
//   }
//   @include large {
//     grid-template-columns: $large-w auto;
//     grid-template-rows   : $header-h $large-h 1fr 1fr;
//   }
//
//   div.gallery {
//     grid-column: 1 / span 1;
//
//     @include small {
//       grid-column: 1 / -1;
//     }
//   }
//
//   footer {
//     grid-column: 1/-1;
//     grid-row   : -1;
//
//     height     : 500px;
//   }
//
//   .test {
//     grid-row: 3;
//   }
//
//   header {
//     grid-column: 1 / -1;
//     grid-row   : 1;
//   }
//
//   aside {
//     grid-column: 2 / span 1;
//     grid-row   : 2 / -1;
//     @include small {
//       grid-column: 1 / span 2;
//     }
//   }
// }
//
// .flickity-page-dots {
//   bottom: 12px !important;
// }
